{% if site.categories and site.categories != empty %}
<h2>Top Kategorien</h2>
<section class="site.categories">
    <ul>
        {% for posts in site.categories %}
        <li>
            <h4>{{ posts[0] }}</h4>
            <ul>
                {% for post in posts[1] %}
                <li><a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date_to_string: "DE" }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</section>
{% else %}
<p>Keine Kategorien in <code>site.categories</code> gefunden oder die Variable ist leer.</p>
{% endif %}
<hr>