---
layout: default
---

<article class="post">
  <section class="header">
    <h1>{{ page.title }}</h1>

    <div class="meta">
      <p>
        {{ page.date | date_to_long_string: "ordinal", "DE" }} - Martin Schultheiss with {{ page.ai }} - {{ page.categories }} - {{ page.version }}<br />
        {{ page.tags | array_to_sentence_string: "or" }}
      </p>
    </div>
  </section>
  <section class="content">
    <div class="entry">
      {{ content }}
    </div>

    <div class="date">
      <p>Written with {{ page.ai[0] }} on {{ page.ai[1] | date: "%B %e, %Y" }}</p>
    </div>
  </section>
  <section class="tags">
    Tags&nbsp;-{% for tag in page.tags %}<a href="/tags.html#{{ tag }}">{{ tag }}</a>&nbsp;-&nbsp;{% endfor %}
  </section>
</article>
{% include posts-related.html %}
