---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="meta">
    <p>{{ page.date | date_to_string }} - Martin Schultheiss with {{ page.ai }} - {{ page.categories }} - {{ page.version }}</p>
  </div>
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    <p>Written with {{ page.ai[0] }} on {{ page.ai[1] | date: "%B %e, %Y" }}</p>
  </div>

  <div class="tags">
    Tags:
    {% for tag in page.tags %}
    <a href="/tags.html#{{ tag }}">{{ tag }}</a>
    {% endfor %}
  </div>
</article>

<ul>
{% for post in site.categories reversed %}{% if post.upcomingevent %}<li><a href="{{ post.url }}">{{ post.title }} - {{ post.date | date: "%B %d %Y" }}</a></li>{% endif %}{% endfor %}
</ul>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>